<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>

<div>
    <form action="promptProcessing" method="post">
        {% csrf_token %}
        <div>
            <label for="prompt">Ask Anything: </label>
            <input type="text" name="prompt" class="prompt_input" id="prompt" placeholder="Message Gemini..">
        </div>
        <div>
            <button>Send</button>
        </div>
    </form>
</div>
{% if prompt %}
<p>Your prompt was : {{ prompt }}</p>
{% endif %}
</body>
</html>